<div class="search-bar-container" cdkOverlayOrigin #overlayPosition="cdkOverlayOrigin"
[ngClass]="{'opened mat-elevation-z2': overlayOpen()}"
>
	<button mat-icon-button>
		<mat-icon>search</mat-icon>
	</button>
	<input
	 #searchInput
	 placeholder="Search my app"
	(click)="onSearchInputFocus()"
	[value]="searchTerm()"
	(keydown.ENTER)="onSearch(searchInput.value)" />

	@if (searchTerm()) {
		<button mat-icon-button (click)="onClear()" class="closed-button">
			<mat-icon>close</mat-icon>
		</button>
	}
</div>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="overlayPosition" [cdkConnectedOverlayOpen]="overlayOpen()"
	(overlayOutsideClick)="overlayClickOutside()">
	<div class="overlay-container mat-elevation-z2" role="listbox" >
    <mat-divider />
    <mat-action-list >
        @for (search of recentSearches(); track search ) {
            <app-list-item [searchFn]="searchFn" [onDeleteRecentSearchFn]="onDeleteRecentSearchFn" [item]="search"></app-list-item>
        }
    </mat-action-list>
	</div>
</ng-template>

